{% extends "_base.twig" %}
{% block content %}

    <nav class="main-nav">
        <div class="container">
            <a class="page-title">{% if(id==0) %} Add {% else %} Edit {% endif %}</a>
        </div>
    </nav>

    <div class="row section">
        <div class="container">
            <form class="col s12" method="post" action="/user/save">
                <div class="row">
                    <div class="input-field col s12">
                        {{ item.display_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="group" class="validate">
                            <option value="">Select Group</option>
                            {% for group in groups %}
                                
                                {% set selected = '' %}
                                {% if group._id == item.group_role.group_id %}
                                    {% set selected = 'selected' %}
                                {% endif %}
                                
                                <option value="{{ group._id }}" {{ selected }}>{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                        
                <div class="row">
                    <div class="input-field col s6">
                        <select name="role_perm" class="validate">
                            <option value="">Select Role Permission</option>
                            {% for role in roles %}
                                
                                {% set selected = '' %}
                                {% if role._id == item.group_role.role_perm_id %}
                                    {% set selected = 'selected' %}
                                {% endif %}
                                
                                <option value="{{ role._id }}" {{ selected }}>{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                

                <div class="row">
                    <div class="input-field col s6">
                        <a class="waves-effect waves-light btn-large btn-submit">Save</a>
                        <a class="waves-effect waves-teal btn-flat" href="/user/perms">Back</a>
                        <input type="hidden" name="id" value="{{ item._id }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbR6oMD6wuts_4DXk55oH7S9UdXXx0CRQ">
    </script>
    <script type="text/javascript">

        $(function(){
            $('.datepicker').pickadate({
                format: 'yyyy-mm-dd'
            });

            $('select').material_select();
        });


        function displayMap() {
            document.getElementById('map__contain').style.display="block";
            initialize();
        }

        function initialize() {

            // var location_map
            var place = document.getElementById('contact_map').value.split(', ');

            // create the map
            var mapLat = place[0];
            var mapLng = place[1];
            var mapOptions = {
                zoom: 13,
                center: new google.maps.LatLng(mapLat, mapLng),
                zoomControl: false,
                scaleControl: false,
                scrollwheel: false,
                streetViewControl: false,
                panControl: false,
                mapTypeControl: false,
            }

//            map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(mapLat, mapLng),
                map: map,
                draggable: true
            });

            google.maps.event.addListener(marker, 'dragend', function (event) {
                var myLat = this.getPosition().lat();
                var myLng = this.getPosition().lng();
                document.getElementById("contact_map").value = myLat+', '+myLng;

//                var new_static_map = 'https://maps.googleapis.com/maps/api/staticmap?zoom=13&size=530x300&maptype=roadmap&markers=color:red|label:|'+myLat+','+myLng;
//                document.getElementById('static_map').src = new_static_map;
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}
